# The port the application will run on.
export MYAPP_PORT=8003

# The path or connection string to a sqlite database.
# Use "sqlite:///:memory:" for an in-memory database.
export MYAPP_DATABASE_URL="sqlite:///./myapp.test.db"
