# The port the application will run on.
export MYAPP_PORT=8003

# The path or connection string to a sqlite database.
# Use "sqlite:///:memory:" for an in-memory database.
export MYAPP_DATABASE_URL="sqlite:///./data/myapp.db"
# MYAPP_DATABASE_URL="postgresql://user:password@host:port/database"
# MYAPP_DATABASE_URL="mysql://user:password@host:port/database"
# MYAPP_DATABASE_URL="mssql+pyodbc://user:password@host:port/database?driver=ODBC+Driver+17+for+SQL+Server"
